@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:20px;
    
}

body{
    background: #eaebef;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 10% auto;
}



.logo_menu{
    height: 180px;
    width: 180px;
    margin-left: 50px;
    margin-right: 50px;
    
}

.img_menu{
    max-width: 100%;
    max-height: 100%;
}

.nav{
    width: 300px;
    overflow-y: scroll;
    background: #fff;
    grid-row: 1/ span 2;
}

.nav_link{
    color: #303440;
    display: block;
    padding: 15px 0;
    text-decoration: none;

}

.nav_link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
}

.nav_link--inside:hover{
    background: #f6f8fa;
}

.list{
    width: 100%;
    height: 100vh;
    display:block;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 16px;
    background: #fff;
}

.list_item{
    list-style-type: none;
    width: 100%;
    text-align: center;
  
}
.list_item--click{
    cursor: pointer;
}

.list_button{
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
 
}
.arrow .list_arrow{
    transform: rotate(90deg);
}

.list_arrow{
    margin-top: 4px;
    transition: transform .3s;

}

.list_show{
    width: 81.5%;
    margin-left: auto;
    list-style: none;
    transition: height -4s;
    height: auto;
    border-color: #aaaaaa;
    display: none;
    padding-bottom: 10px;

}

.list_inside{
    border-left: 2px solid #303440;
}

/* Estilos para el div con el header */ 

.fondo_header{
    background: burlywood;
    min-width: 40%;
    max-width: 50%;
    height: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 3%;
    border-radius: 12px 12px 12px 12px;
    float: right;
}

.icon_header{
    margin-top: 3.5%;
    margin-left: 4%;
    margin-right: 3%;
}
.content_header{
    position: absolute;
    margin-top: 14px;
    
    text-decoration: none;
    
}

/* Estilos para el contenedor del contenido */

