table {
    border-collapse: collapse;
    width: 95%;
    margin-bottom: 20px;
    margin-left: 2%;
    margin-top: 4%;
}
th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #4CAF50;
    color: white;
}
.receso{
    background-color: rgba(76, 175, 175, 0.603);
    color: white;
}
  