@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

table{
    border: black 3px solid;
}
td, th {
    padding-left: 1rem;
    padding-right: 1rem;
    border: black 1px solid;
  }