
.container{
    max-width: 400px;
      padding: 20px;
      margin-left: 250px;
      background-color: #fff;
  }
  .form-horizontal {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    label.control-label {
      font-weight: bold;
    }
    
    input[type="text"].form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
.vid label {
    margin: 0;
    padding: 5px;
    text-align: left;
    color: #ffffffc2;
}
.vid select{
    color: #033474;
  font-family: cursive;
  background-color: #ffffff8f;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 10px;

}
.boton {
    position: relative;
    background-color: #008CBA;
    color: white;
    border: 2px solid  #15223b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 12px;
    padding: 0 1rem;
    margin-left: 20px;
    text-decoration: none;
}
.boton:hover {
    color: black;
    background-color: white; 
}
    