@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.container {
    max-width: 450px;
    padding: 20px;
    margin-left: 250px;
  }
  
body {
    font-family: 'Roboto', sans-serif;
    position: relative;
}

/* tamaño de letra */
p {
    font-size: 18px;
}

.estado{
    font-size: 13px;
    color: #15223b;
}

#encabezado {
    text-align: center;
}

/* el div que contiene la información */
.formulario {
    background-color: #fdfefe;
    margin-top: 0%;
    border-radius: 12px;
    height: 500px;
    display: flex;
    overflow: hidden;
    justify-content: center; /* Para centrar el formulario horizontalmente */
    align-items: center; /* Para centrar el formulario verticalmente */
}

/* formulario que envía la información */
.form {
    background-color: #fdfefe;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    height: 500px;
    display: flex;
    overflow: hidden;
    justify-content: center; /* Para centrar el formulario horizontalmente */
    align-items: center; /* Para centrar el formulario verticalmente */
}
/* paginación del formulario */
.pagina1 {
    margin-left: 10%;
    margin-right: 10%;
    min-width: 100%;
    opacity: 0;
}


/* campos del formulario */
#grupo,
#id_profe,
#grado,
#cantidad {
    display: block;
    margin: 0;
    width: 220px;
    height: 25px;
    font-size: 18;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* título que está arriba del formulario */
.encabezado1 {
    text-align: center;
    margin-bottom: 2%;
}

/* botones */
#boton {
    position: relative;
    background-color: #008CBA;
    color: white;
    border: 2px solid #15223b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 12px;
    padding: 0 1rem;
    margin: 2% auto;
    display: block;
}

#boton:hover {
    color: black;
    background-color: white;
}

.botonS1 {
    left: 40%;
}

.botonA2 {
    margin-top: 2%;
}

.cancelar {
    position: relative;
    background-color: #008CBA;
    color: white;
    border: 2px solid #15223b;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 12px;
    padding: 0 1rem;
    text-decoration: none;
    margin-left: 12%;
}

.cancelar:hover {
    color: black;
    background-color: white;
}

/* activar paginas */
.pagina1.active {
    opacity: 1;
}

/* mover paginas a la derecha */
.pagina1.left {
    margin-left: -100%;
}


